@viewModel Views.Dashboard.ViewModel

<!DOCTYPE html>
<html lang="en" xmlns:dot="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokčejn</title>

    <dot:RequiredResource Name="bulma.css" />
    <script>
        var s = new WebSocket("ws://" + location.host + "/ws");
        s.onmessage = function (ev) {
            document.getElementById("refresh_hack_button").click();
        }
    </script>
    <dot:InlineScript>
        dotvvm.events.postbackHandlersStarted.subscribe(function () { dotvvm.validation.errors.removeAll(); });
    </dot:InlineScript>
</head>

<body>
    <dot:Button id="refresh_hack_button" style="display:none" Click="{command: 0}" PostBack.Concurrency="Deny" Validation.Enabled="false" />

    <div class="columns is-desktop">
        <div class="column">
            <h2 class="panel-heading">
                Sklad
            </h2>
            <div class="panel-block">
                <table class="table is-fullwidth">
                    <thead>
                        <th>Surovina</th>
                        <th>Množství</th>
                        <th>V odchozích transakcích</th>
                    </thead>
                    <dot:Repeater DataSource="{value: AccountData}" WrapperTagName="tbody">
                        <tr class="">
                            <td>{{value: _this.AssetName}}</td>
                            <td>{{value: _this.Spendable}}</td>
                            <td>{{value: TransactionLocked != 0 ? "" + TransactionLocked : ""}}</td>
                        </tr>
                    </dot:Repeater>
                </table>
            </div>
        </div>
        <div class="column">
            <h2 class="panel-heading">
                Těžba
            </h2>
            <dot:Repeater DataSource="{value: Mines}" WrapperTagName="div" RenderWrapperTag="false" IncludeInPage="{value: _page.EvaluatingOnClient}">
                <div class="panel-block">
                    <div class="control is-fullwidth">
                        <p><strong>{{value: Name}}:</strong> {{value: Resource}} (+{{value: NextYield}}, lvl = {{value: Power}})</p>
                        <form>
                            <div class="field has-addons">
                                <div class="control">
                                    <span class="button is-static" style="width:120px">
                                        [ <dot:Repeater DataSource="{value: NextCoords}" WrapperTagName="span">
                                              <SeparatorTemplate> | </SeparatorTemplate>
                                              {{value: _this}}
                                          </dot:Repeater> ]
                                    </span>
                                </div>
                                <div class="control is-expanded">
                                    <dot:TextBox class="input is-fullwidth" Text="{value: _root.MineCodes[_index]}" placeholder="zadej kód z dolu" Validator.Value="{value: _root.MineCodes[_index]}" Validator.InvalidCssClass="is-danger" />
                                </div>
                                <div class="control">
                                    <dot:Button class="button" Text="Potvrdit" Click="{command: _root.Mine(_index)}" IsSubmitButton />
                                </div>
                                <div class="control" IncludeInPage="{value: _root.IsGodMode}">
                                    <dot:Button class="button" Text="Upgrade" onclick="var t = prompt('kolik levelu'); if (t) ko.contextFor(this).$root.MineUpgrade(t); else return false;" Click="{command: _root.UpgradeMine(Name)}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </dot:Repeater>
            <!--</table>-->
            <div class="panel-block">
                <p><dot:Validator Value="{value: NewMineName}" /></p>
                <form class="field has-addons control is-fullwidth">
                    <span class="control is-expanded">
                        <dot:TextBox class="input is-fullwidth" placeholder="Přidat nový důl" Text="{value: NewMineName}" Validator.Value="{value: NewMineName}" Validator.InvalidCssClass="is-danger" />
                    </span>
                    <span class="control">
                        <dot:Button Text="Přidat" Click="{command: DiscoverMine()}" IsSubmitButton class="button is-outlined" />
                    </span>
                </form>
            </div>
        </div>
        <div class="column" Validation.Enabled="false">
            <h2 class="panel-heading">
                Transakce
            </h2>

            <div class="panel-block">
                <p class="control has-icons-left">
                    <dot:Button Click="{staticCommand: TransactionModalOpen = true}" Text="Nová transakce" class="button is-outlined is-fullwidth"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </p>
            </div>

            <p class="panel-heading">
                Příchozí transakce
            </p>

            <dot:Repeater DataSource="{value: ComingTransactions}" RenderWrapperTag="false" IncludeInPage="{value: _page.EvaluatingOnClient}">
                <div class="panel-block">
                    <div Validation.Target="{value: _this}">
                        <p style="">
                            <strong data-bind="text: '\'' + ($data.From() && $data.From().Fields()[0]()) + '\':'"></strong>
                            {{value: Notes}}
                        </p>
                        <dot:Repeater DataSource="{value: Assets}" WrapperTagName="p">
                            <SeparatorTemplate> | </SeparatorTemplate>
                            <span class="" Class-is-danger="{value: Count < 0}">{{value: Name}}: {{value: Count}}</span>
                        </dot:Repeater>
                        <dot:Validator Value="{value: Assets}" />
                        <div class="field has-addons">
                            <p class="control">
                                <dot:Button Text="Přijmout" class="button is-success" Click="{command: _root.AcceptTransaction(_this)}" Validation.Enabled="true" />
                            </p>
                            <p class="control">
                                <dot:Button Text="Zrušit" class="button is-danger" onclick="if (!confirm('Fakt jí chceš zrušit')) return false;" Click="{command: _root.CancelTransaction(Id)}" />
                            </p>
                        </div>
                    </div>
                </div>
            </dot:Repeater>
            <p class="panel-heading">
                Odchozí transakce
            </p>
            <dot:Repeater DataSource="{value: MyPendingTransactions}" RenderWrapperTag="false" IncludeInPage="{value: _page.EvaluatingOnClient}">
                <div class="panel-block">
                    <div>
                        <p style="">
                            <strong data-bind="text: ('\'' + $data.To() + '\':')"></strong>
                            {{value: Notes}}
                        </p>
                        <dot:Repeater DataSource="{value: Assets}" WrapperTagName="p">
                            <SeparatorTemplate> | </SeparatorTemplate>
                            <span class="" Class-is-danger="{value: Count > 0}">{{value: Name}}: {{value: Count}}</span>
                        </dot:Repeater>
                        <dot:Button Text="Zrušit" class="button is-danger" onclick="if (!confirm('Fakt jí chceš zrušit')) return false;" Click="{command: _root.CancelTransaction(Id)}" />
                    </div>
                </div>
            </dot:Repeater>
        </div>
    </div>
    <!--<div class="column">-->
    <!--<h2></h2>-->
    <!--</div>-->
    <form action="#">
    <div class="modal" Class-is-active="{value: TransactionModalOpen}">
        <div class="modal-background"></div>
        <div class="modal-card" Validation.Target="{value: TransactionModal}">
            <header class="modal-card-head">
                <p class="modal-card-title">Nová transakce</p>
                <dot:Button Click="{staticCommand: TransactionModalOpen = false}" ButtonTagName="button" class="delete is-large" aria-label="close"></dot:Button>
            </header>
            <section class="modal-card-body" DataContext="{value: TransactionModal}">
                <p>
                    <dot:ComboBox DataSource="{value: _root.OtherTeamNames}" SelectedValue="{value: To}" EmptyItemText="Komu poslat..." Validator.Value="{value: To}" Validator.InvalidCssClass="is-danger" class="input is-fullwidth" />
                </p>

                <p>
                    <table class="table is-fullwidth">
                        <dot:Repeater DataSource="{value: Assets}" WrapperTagName="tbody">
                            <tr>
                                <td>{{value: Name}}</td>
                                <td><dot:TextBox Type="number" Text="{value: Count}" class="input" Validator.Value="{value: Count}" Validator.InvalidCssClass="is-danger" Validator.SetToolTipText placeholder="kolik se má poslat"></dot:TextBox></td>
                                <td><dot:Validator Value="{value: Count}"></dot:Validator></td>
                            </tr>
                        </dot:Repeater>
                    </table>
                </p>
                <p>
                    <dot:TextBox Type="multiline" Text="{value: Notes}" placeholder="poznámka" class="textarea" rows="5" />
                </p>
                <dot:ValidationSummary IncludeErrorsFromChildren />
            </section>
            <footer class="modal-card-foot">
                <dot:Button class="button is-success" Click="{command: SubmitTransaction()}" IsSubmitButton="true">Odeslat</dot:Button>
                <dot:Button Click="{staticCommand: TransactionModalOpen = false}" class="button" aria-label="close">Zavřít</dot:Button>
            </footer>
        </div>
    </div>
    </form>

    <div IncludeInPage="{value: IsGodMode}" Validation.Enabled="false">
        <h2>God toolkit</h2>
        <p>Vybrat tým: <dot:ComboBox DataSource="{value: OtherTeamNames}" SelectedValue="{value: TeamName}" SelectionChanged="{command: ChangeTeam()}" class="input" /></p>
        <p>
            <form>
                Push msg: <dot:TextBox Type="multiline" class="textarea" Text="{value: UpdateMsgSerialized}" />
                <dot:Validator Value="{value: UpdateMsgSerialized}" />
                <dot:Button Text="Push" Click="{command: PushMsg()}" IsSubmitButton class="button" />
            </form>
        </p>
    </div>
</body>

</html>